{% extends "base.html" %}

{% block content %}
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Course</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for student in students %}
        <tr>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.course }}</td>
            <td>
                <a href="{{ url_for('update_student', student_id=student._id) }}" class="btn btn-warning btn-sm">Edit</a>
                <a href="{{ url_for('delete_student', student_id=student._id) }}" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
